temp.ipynb
temp.py
temp2.py
test.py
Assignment_6.ipynb
Assignment_7.ipynb
Assignment_8.ipynb
Assignment_9.ipynb
Assignment_10.ipynb
Assignment_11.ipynb
Assignment_12.ipynb
Assignment_13.ipynb
Assignment_14.ipynb
Assignment_15.ipynb
Assignment_16.ipynb
Assignment_17.ipynb
Assignment_18.ipynb
Assignment_19.ipynb
Assignment_20.ipynb
Assignment_21.ipynb
Assignment_22.ipynb
Assignment_23.ipynb
Assignment_24.ipynb
Assignment_25.ipynb
